In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Multi_home_inputs.csv')
df2 = pd.read_csv('multi_home_variables.csv')

C:\Users\Tom.Jamieson\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df.head()

,Home number,Property,Substation,Archetype,Home name,Parent prefix,Data prefix,Expression prefix
0,1,1,1,A,1-1-A,NaN,NaN,NaN
1,2,1,1,A,1-2-A,NaN,NaN,NaN
2,3,1,1,A,1-3-A,NaN,NaN,NaN
3,4,1,1,A,1-4-A,NaN,NaN,NaN
4,5,1,1,A,1-5-A,NaN,NaN,NaN

In [9]:
df2.head(15)

,Property,Collection,Parent Object,Child Object,Property.1,Value,Data File,Units,Band,Date From,Date To,Timeslice,Action,Expression,Scenario
0,1,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
1,2,Purchasers,System,- Elec Demand,Price Setting,Yes,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,Price_Agile
2,3,Purchasers,System,- Elec Demand,Price Setting,Yes,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,Price_Fixed
3,4,Purchasers,System,- Elec Demand,Fixed Load,0,NaN,MW,1,NaN,NaN,NaN,=,- Stochastic Elec Demand,Stochastics
4,5,Purchasers,System,- Heat Loss,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
5,6,Purchasers,System,- Heat Loss,Fixed Load,0,NaN,MW,1,NaN,NaN,NaN,=,- Stochastic Heat Loss,Stochastics
6,7,Purchasers,System,- Hot Water Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
7,8,Purchasers,System,- Hot Water Demand,Fixed Load,0,NaN,MW,1,NaN,NaN,NaN,=,- Stochastic Hot Water Demand,Stochastics
8,9,Constraint.Purchasers,- Heat Loss,- Heat Loss,Load Coefficient,-1,NaN,MW,1,NaN,NaN,NaN,=,NaN,NaN
9,10,Constraint.Purchasers,- Hot Water Demand,- Hot Water Demand,Load Coefficient,-1,NaN,MW,1,NaN,NaN,NaN,=,NaN,NaN
10,11,Purchasers,System,- Elec Demand,Fixed Load,0,_Elec Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics
11,12,Purchasers,System,- Hot Water Demand,Fixed Load,0,_Heat Loss,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics
12,13,Purchasers,System,- Heat Loss,Fixed Load,0,_Hot Water Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics

In [10]:
df_merge = df.merge(df2, on='Property')

In [12]:
pd.set_option('display.max_columns', None)
df_merge.head()

,Home number,Property,Substation,Archetype,Home name,Parent prefix,Data prefix,Expression prefix,Collection,Parent Object,Child Object,Property.1,Value,Data File,Units,Band,Date From,Date To,Timeslice,Action,Expression,Scenario
0,1,1,1,A,1-1-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
1,2,1,1,A,1-2-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
2,3,1,1,A,1-3-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
3,4,1,1,A,1-4-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
4,5,1,1,A,1-5-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN

In [13]:
df_merge['Child Object 2'] = df_merge['Home name'] + df_merge['Child Object']
df_merge.head()

,Home number,Property,Substation,Archetype,Home name,Parent prefix,Data prefix,Expression prefix,Collection,Parent Object,Child Object,Property.1,Value,Data File,Units,Band,Date From,Date To,Timeslice,Action,Expression,Scenario,Child Object 2
0,1,1,1,A,1-1-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-1-A - Elec Demand
1,2,1,1,A,1-2-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-2-A - Elec Demand
2,3,1,1,A,1-3-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-3-A - Elec Demand
3,4,1,1,A,1-4-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-4-A - Elec Demand
4,5,1,1,A,1-5-A,NaN,NaN,NaN,Purchasers,System,- Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-5-A - Elec Demand

In [14]:
df_merge['Child Object'] = df_merge['Child Object 2']
df_merge.head()

,Home number,Property,Substation,Archetype,Home name,Parent prefix,Data prefix,Expression prefix,Collection,Parent Object,Child Object,Property.1,Value,Data File,Units,Band,Date From,Date To,Timeslice,Action,Expression,Scenario,Child Object 2
0,1,1,1,A,1-1-A,NaN,NaN,NaN,Purchasers,System,1-1-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-1-A - Elec Demand
1,2,1,1,A,1-2-A,NaN,NaN,NaN,Purchasers,System,1-2-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-2-A - Elec Demand
2,3,1,1,A,1-3-A,NaN,NaN,NaN,Purchasers,System,1-3-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-3-A - Elec Demand
3,4,1,1,A,1-4-A,NaN,NaN,NaN,Purchasers,System,1-4-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-4-A - Elec Demand
4,5,1,1,A,1-5-A,NaN,NaN,NaN,Purchasers,System,1-5-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN,1-5-A - Elec Demand

In [16]:
df_merge_clean = df_merge[['Collection', 'Parent Object', 'Child Object', 'Property.1', 'Value', 'Data File', 'Units', 'Band', 'Date From', 'Date To', 'Timeslice', 'Action', 'Expression', 'Scenario']]

In [17]:
df_merge_clean.head()

,Collection,Parent Object,Child Object,Property.1,Value,Data File,Units,Band,Date From,Date To,Timeslice,Action,Expression,Scenario
0,Purchasers,System,1-1-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
1,Purchasers,System,1-2-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
2,Purchasers,System,1-3-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
3,Purchasers,System,1-4-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN
4,Purchasers,System,1-5-A - Elec Demand,Price Setting,No,NaN,Yes/No,1,NaN,NaN,NaN,=,NaN,NaN

In [18]:
df_merge_clean.tail()

,Collection,Parent Object,Child Object,Property.1,Value,Data File,Units,Band,Date From,Date To,Timeslice,Action,Expression,Scenario
85912,Purchasers,System,91-6605-H - Heat Loss,Fixed Load,0,_Hot Water Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics
85913,Purchasers,System,93-6606-H - Heat Loss,Fixed Load,0,_Hot Water Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics
85914,Purchasers,System,94-6607-H - Heat Loss,Fixed Load,0,_Hot Water Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics
85915,Purchasers,System,95-6608-H - Heat Loss,Fixed Load,0,_Hot Water Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics
85916,Purchasers,System,117-6609-H - Heat Loss,Fixed Load,0,_Hot Water Demand,MW,1,NaN,NaN,NaN,=,NaN,No Stochastics

In [19]:
df_merge_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85917 entries, 0 to 85916
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Collection     85917 non-null  object
 1   Parent Object  85917 non-null  object
 2   Child Object   85917 non-null  object
 3   Property.1     85917 non-null  object
 4   Value          85917 non-null  object
 5   Data File      19827 non-null  object
 6   Units          85917 non-null  object
 7   Band           85917 non-null  int64
 8   Date From      0 non-null      float64
 9   Date To        0 non-null      float64
 10  Timeslice      0 non-null      float64
 11  Action         85917 non-null  object
 12  Expression     19827 non-null  object
 13  Scenario       52872 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 9.8+ MB

In [21]:
df_merge_clean.to_csv(r'C:\Users\Tom.Jamieson\Desktop\WPD Peak heat\Multi home inputs_py.csv', index = False)